extends layout

block head
  link(href='/stylesheets/sticky-footer.css', rel='stylesheet')

block content
  #wrap
    .container
      .page-header
        h3
          | Registrasi Saung Istiqomah
      p
        | Form here
  #footer
    .container
      p.text-muted &copy; Indonesian Muslim Association in Singapore, 2014