extends layout

block head
  link(href='/stylesheets/sticky-footer.css', rel='stylesheet')
  link(href='/stylesheets/angular-toggle-switch.css', rel='stylesheet')

  script(src="/javascripts/angular-toggle-switch.min.js")

  script.
    registrations = !{registrations};
    
  script(src="/javascripts/index.js")

  style.
    .search-input {
      width: 400px;
    }

block content
  #wrap(ng-app="myApp")
    .container(ng-controller="IndexCtrl")
      .page-header
        h3
          | Registrasi Saung Istiqomah
      .row
        p
          input(type="text" ng-model="search" placeholder="Masukkan nama atau nomor hp anda di sini" class="search-input")

      .row
        table(class="table table-condensed table-striped table-hover")
          thead
            tr
              th Nama
              th Email
              th Phone
              th Hadir
          tbody
            tr(ng-repeat="registrant in registrants | orderBy: ['name', 'email', 'phone'] | filter:search")
              td
                {{registrant.name}}
              td
                {{registrant.email}}
              td
                {{registrant.phone}}
              td
                toggle-switch(model="registrant.attending", on-label="Hadir", off-label="Tidak", ng-click="attending_changed(registrant);")
                
  #footer
    .container
      p.text-muted &copy; Indonesian Muslim Association in Singapore, 2014