extends layout

block head
  link(href='/stylesheets/sticky-footer.css', rel='stylesheet')
  link(href='/stylesheets/angular-toggle-switch.css', rel='stylesheet')

  script(src="/javascripts/angular-toggle-switch.min.js")

  script.
    registrations = !{registrations};

  script(src="/javascripts/index.js")

  style.
    .search-input {
      width: 400px;
    }

    table.fixed { table-layout:fixed; }
    table.fixed td { overflow: hidden; }

block content
  #wrap(ng-app="myApp")
    .container#index_ctrl(ng-controller="IndexCtrl")
      .row
        h3
          | Registrasi Saung Istiqomah
        hr
      .row
        .col-xs-1
          label(style="margin-top:10px") Search
        .col-xs-5
          input(type="text" ng-model="search" ng-change="search_changed()" placeholder="Masukkan nama atau nomor hp anda di sini" class="form-control")
        .col-xs-4
        .col-xs-2
          div(style="float:right;")
            | {{(registrants | filter:{attending: true}).length}} / {{filtered_registrants.length}} attending

      .row(style="margin-top: 20px", ng-switch on="filtered_registrants.length")
        .alert.alert-success(ng-switch-when="0")
          | Nama Anda belum terdaftar, silakan isi biodata Anda berikut:
        table(class="table table-condensed table-striped table-hover fixed")
          colgroup
            col(width="7%")
            col(width="30%")
            col(width="30%")
            col(width="25%")
            col(width="13%")
          thead
            tr
              th
              th Nama
              th Email
              th Phone
              th(ng-switch-when="0")
              th(ng-switch-default)
                | Hadir?
          tbody
            tr(ng-repeat="registrant in filtered_registrants = (registrants | orderBy: ['name', 'email', 'phone'] | filter:search)", ng-switch on="registrant.state")
              td(ng-switch-when="edit")
                a.btn.btn-warning.btn-xs(ng-click="update(registrant)") Update
              td(ng-switch-when="edit")
                input(ng-model="registrant.name", style="width:100%", class="form-control input-sm")
              td(ng-switch-when="edit")
                input(ng-model="registrant.email", style="width:100%", class="form-control input-sm")
              td(ng-switch-when="edit")
                input(ng-model="registrant.phone", style="width:100%", class="form-control input-sm")

              td(ng-switch-default)
                a.btn.btn-danger.btn-xs(ng-click="edit(registrant)") Edit
              td(ng-switch-default)
                {{registrant.name}}
              td(ng-switch-default)
                {{registrant.email}}
              td(ng-switch-default)
                {{registrant.phone}}
              td(ng-switch-default)
                toggle-switch(model="registrant.attending", on-label="Hadir", off-label="Tidak", ng-click="attending_changed(registrant);")
            tr(ng-switch-when="0")
              td
              td
                input(ng-model="new_name", style="width:100%", class="form-control input-sm")
              td
                input(ng-model="new_email", style="width:100%", class="form-control input-sm")
              td
                input(ng-model="new_phone", style="width:100%", class="form-control input-sm")
              td
                a.btn.btn-primary(ng-click="create(new_name, new_email, new_phone)") Submit
  #footer
    .container
      p.text-muted &copy; Indonesian Muslim Association in Singapore, 2014

  #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-body
          .alert.alert-success
            | Terimakasih telah melakukan registrasi 
            span.glyphicon.glyphicon-ok